body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 0.5rem 2rem 2rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
}

table.data-table {
    border-collapse: collapse;
    margin: 1rem;

    & td {
        border: 1px solid #ddd;
        padding: .5rem;
    }

    & th {
        background-color: #04AA6D;
        color: white;
        font-weight: bold;
        padding: 12px;
        text-align: left;
    }

    & tbody > tr {
        cursor: pointer;
    }

    & tbody > tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    & tbody > tr:hover {
        background-color: #ddd;
    }

    & tbody > tr.active {
        background-color: gold;
    }
}

li {
    padding: 0.25rem;
}

li.active {
    background-color: lightcyan;
}

.form-grid-container {
    background-color: lightcyan;
    padding: 1rem;
    display: grid;
    /* Defines two columns: one for labels (auto-width), one for inputs (takes remaining space) */
    grid-template-columns: auto 1fr;
    gap: 1rem; /* Space between grid items */
    max-width: 50rem; /* Constrain the table width*/
}

.form-grid-container label {
    text-align: right; /* Aligns labels to the right side of their column */
}

.form-grid-container label span.required {
    color : #ff0000;
    margin-right: 0.5rem;
}

.form-grid-container input {
    width: 100%;
    box-sizing: border-box; /* Ensures padding/border are included in the 100% width */
    background-color: white;
}

.form-grid-container textarea {
    width: 100%;
    box-sizing: border-box; /* Ensures padding/border are included in the 100% width */
    background-color: white;
}
