body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 0.5rem 2rem 2rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
}

table {
    border-collapse: collapse;
    margin: 1rem;
}

td {
    border: 1px solid #ddd;
    padding: .5rem;
}

th {
    background-color: #04AA6D;
    color: white;
    font-weight: bold;
    padding: 12px;
    text-align: left;
}

tbody>tr {
    cursor: pointer;
}

tbody>tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody>tr:hover {
    background-color: #ddd;
}

tbody>tr.active {
    background-color: gold;
}

li {
    padding: 0.25rem;
}

li.active {
    background-color: lightcyan;
}
