li {
    display: flex;
    align-items: center
}

li.active {
    background-color: lightcyan;
}

li:not(.active):hover  {
    background-color: white;
}

/* make the whole area clickable */
.nav-link {
    padding: 0.5rem 1rem;
}
